# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings
.vscode/
.idea/

# OS specific
.DS_Store

# Playwright
**/playwright_user_data/
